<% layout('layout') -%>
<% script('/javascripts/jquery.js') -%>
<% script('/javascripts/main.js') -%>
<% stylesheet('/stylesheets/style.css') -%>
<div id="content">
	<%= title %>
	<div id="box1" class="box">
		I'm a box
	</div>
	<div id="box2" class="box">
		I'm a box too
	</div>
	<div id="box3" class="box">
		I'm a box as well.
	</div>
</div>