<% layout('layout') -%>
<% script('/javascripts/jquery.js') -%>
<% script('/javascripts/main.js') -%>
<% stylesheet('/stylesheets/style.css') -%>
<div id="content">
	<%= title %>
	<div id="droptargettest">
		Drop on me.
	</div>
</div>