<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">

	<%- scripts %>
    <%- stylesheets %>

  </head>
  <body>
<%- body -%>
  </body>
</html>