<% layout('layout') -%>
<% script('/javascripts/jquery.js') -%>
<% script('/javascripts/tools.js') -%>
<% stylesheet('/stylesheets/style.css') -%>
<ul id="toolbar">
	<li id="tool-div" draggable="true">diiiv</li>
	<li id="tool-span" draggable="true">spaan</li>
	<li id="tool-input" extra="{type:text}" draggable="true">textbox</li>
</ul>